/*

blocks can center themselves.
inline elements can be centered using text-align property on parent.


image property{
    width:auto; keeps the image size default if increasing the size of window
    max-width:100%; 
}

*/
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

:root{
    --default-font:'Raleway', sans-serif;
    --navigation-font-color: aliceblue;
    --primary-background-color:#fff;
    --font-color:#52799C;
    --spacing: 1em;
}

body{
    margin:0;
    background-color: var(--primary-background-color);
}
.container{
    max-width: 60em;
    margin: 0 auto;
}

.heading{
    background-image: url("/img/header-img-inkpen.jpg");
    background-repeat: round;
}
.styling{
    list-style: none;
}

.styling a{
    color: var(--navigation-font-color) ;
}

.logo{
    width: auto;
    max-width: 7em;
}
.main-content{
    padding: 1em;
}

p{
    font-family: var(--default-font);
    color: var(--font-color);
}

.container-images{
    max-width: 100%;
}
.quote{
    width: 50%;
    margin: 0 auto;
}

blockquote {
    margin: 0;
}

blockquote p {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
}
