/*

blocks can center themselves.
inline elements can be centered using text-align property on parent.


image property{
    width:auto; keeps the image size default if increasing the size of window
    max-width:100%; 
}

*/

:root{
    --default-font:Roboto, Helvetica, Trebuchet MS, Gill Sans;
}

body{
    margin:0;
}
.container{
    max-width: 60em;
    margin: 0 auto;
    background-image: url("/img/header-img-inkpen.jpg");
    background-repeat: round;
}

.styling{
    list-style: none;
}

.styling a{
    color: aliceblue;
}

.logo{
    width: auto;
    max-width: 7em;
}


